#project{
    background-image: url("../images/pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* #About{
    background-image: url("../images/abstract.jpg") ;
    background-size: 100%;
} */